In [ ]:
!pip install -r requirements.txt

In [169]:
import pandas as pd

In [18]:
combats = pd.read_csv('./combats.partial.csv')

In [163]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(combats, test_size=0.2)

In [164]:
test.to_csv('test.csv', index=False)
train.to_csv('train.csv', index=False)

In [165]:
train_data = pd.read_csv('train.csv')

In [166]:
train_data.head()

   Winner  First_pokemon  Second_pokemon
0     518            412             518
1     552            552             542
2     351            468             351
3     213            213             430
4     703            758             703

In [167]:
test_data = pd.read_csv('test.csv')

In [168]:
test_data.head()

   Winner  First_pokemon  Second_pokemon
0     330            595             330
1     723            454             723
2      20             51              20
3     443            443             666
4     249            712             249